.modal-dialog {
  max-width: 1000px!important;
}

.green {
  color: green!important;
}

.page-template-page-template-ccrp_tasks #main-content .container {
  max-width: 95%!important;
  width: 95%!important;

}


.page-template-page-template-ccrp_tasks #main-content .container #left-area {
  width: 95%!important;
}

#main-content .container::before {
  width: 0!important;
}

.table_padding {
  min-width:1300px!important;
}

.ccrp_filter {
  width: 80%;
}

.ccrp_filter_reset {
  width: 10%;
}

#left-area ul.select2-selection__rendered, .entry-content ul.select2-selection__rendered, .comment-content ul.select2-selection__rendered, body.et-pb-preview #main-content .container ul.select2-selection__rendered {
  padding: 0 0 0 1em!important;
}

.yadcf-filter-wrapper {
  width: 90%;
}

#wpadminbar ul li, #wpadminbar ul, #wp-admin-bar-root-default {
  z-index: 500!important;
}

