.modal-dialog {
  max-width: 1000px!important;
}

.green {
  color: green!important;
}

.page-template-page-template-ccrp_tasks #main-content .container {
  max-width: 95%!important;
  width: 95%!important;

}


.page-template-page-template-ccrp_tasks #main-content .container #left-area {
  width: 95%!important;
}